@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    @extend %quicksand-400;
    color: $title;
    padding-bottom: 1px;
    transition: border .3s linear;
    &:hover {
      @extend %quicksand-500;
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
  &__list-link--active {
    @extend %quicksand-500;
    color: $accent;
    border-bottom: 1px solid $accent;
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
  }
  &__link + .user-nav__link {
    padding-left: 25px;
  }
  &__num {
    width: 20px;
    height: 20px;

    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;

    border-radius: 50%;
    background-color: $accent;

    position: absolute;
    top: -9px;
    right: -14px;

  }
}


















@import 'media';